@import '/vendor/filament/minimal-theme/resources/css/index.css';
@config 'tailwind.config.js';

/* Override in der Utilities-Layer, damit es NACH Tailwind-Utilities kommt */
@layer utilities {
    .fi-sidebar .fi-sidebar-item-label,
    .fi-sidebar .fi-sidebar-group-label,
    .fi-sidebar .fi-sidebar-item a {
        text-transform: none !important;
        letter-spacing: normal !important; /* falls das Theme tracking-wider setzt */
    }
}

.a11y-easy-read {
    @apply bg-emerald-50 rounded-md border border-emerald-100;
}
