
.btn {
    text-transform: none !important;
}

body {
    hyphens: auto;
    word-break: break-word; /* Optional: Zeilenumbruch bei extrem langen Wörtern */
}
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}
/* Silbentrennung für ein bestimmtes Element deaktivieren */
.no-hyphenation {
    hyphens: none !important;

}
.stepicon-valign{
    margin-top: 0.28em;
}
/* Margin Top Klassen */
.mt-60 { margin-top: 60px; }
.mt-50 { margin-top: 50px; }
.mt-40 { margin-top: 40px; }
.mt-30 { margin-top: 30px; }
.mt-20 { margin-top: 20px; }
.mt-10 { margin-top: 10px; }
.mt-0  { margin-top: 0px; }
.mt--10 { margin-top: -10px; }
.mt--20 { margin-top: -20px; }
.mt--30 { margin-top: -30px; }
.mt--40 { margin-top: -40px; }
.mt--50 { margin-top: -50px; }

/* Margin Bottom Klassen */
.mb-60 { margin-bottom: 60px; }
.mb-50 { margin-bottom: 50px; }
.mb-40 { margin-bottom: 40px; }
.mb-30 { margin-bottom: 30px; }
.mb-20 { margin-bottom: 20px; }
.mb-10 { margin-bottom: 10px; }
.mb-0  { margin-bottom: 0px; }
.mb--10 { margin-bottom: -10px; }
.mb--20 { margin-bottom: -20px; }
.mb--30 { margin-bottom: -30px; }
.mb--40 { margin-bottom: -40px; }
.mb--50 { margin-bottom: -50px; }

/* Pastellfarbene Hintergrundfarben */
.pastel-blue {
    background-color: #AEC6CF; /* Pastellblau */
}

.pastel-green {
    background-color: #77DD77; /* Pastellgrün */
}

.pastel-pink {
    background-color: #FFB7C5; /* Pastellrosa */
}

.pastel-purple {
    background-color: #CBAACB; /* Pastellviolett */
}

.pastel-yellow {
    background-color: #FDFD96; /* Pastellgelb */
}

.pastel-orange {
    background-color: #FFB347; /* Pastellorange */
}

.pastel-red {
    background-color: #FF6961; /* Pastellrot */
}

.pastel-teal {
    background-color: #AFCBFF; /* Pastelltürkis */
}

.pastel-mint {
    background-color: #98FF98; /* Pastellmint */
}

.pastel-peach {
    background-color: #FFDAB9; /* Pastellpfirsich */
}

/* Pastellfarbene Textfarben */
.text-pastel-blue {
    color: #AEC6CF; /* Pastellblau */
}

.text-pastel-green {
    color: #77DD77; /* Pastellgrün */
}

.text-pastel-pink {
    color: #FFB7C5; /* Pastellrosa */
}

.text-pastel-purple {
    color: #CBAACB; /* Pastellviolett */
}

.text-pastel-yellow {
    color: #FDFD96; /* Pastellgelb */
}

.text-pastel-orange {
    color: #FFB347; /* Pastellorange */
}

.text-pastel-red {
    color: #FF6961; /* Pastellrot */
}

.text-pastel-teal {
    color: #AFCBFF; /* Pastelltürkis */
}

.text-pastel-mint {
    color: #98FF98; /* Pastellmint */
}

.text-pastel-peach {
    color: #FFDAB9; /* Pastellpfirsich */
}

/* Metallfarbene Hintergrundfarben */
.gold {
    background-color: #FFD700; /* Gold */
}

.silver {
    background-color: #C0C0C0; /* Silber */
}

.platinum {
    background-color: #E5E4E2; /* Platin */
}

.copper {
    background-color: #B87333; /* Kupfer */
}

/* Metallfarbene Textfarben */
.text-gold {
    color: #FFD700; /* Gold */
}

.text-silver {
    color: #C0C0C0; /* Silber */
}

.text-platinum {
    color: #E5E4E2; /* Platin */
}

.text-copper {
    color: #B87333; /* Kupfer */
}
