
.btn {
    text-transform: none !important;
}

body {
    hyphens: auto;
    word-break: break-word; /* Optional: Zeilenumbruch bei extrem langen Wörtern */
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}


.bg-faq-gradient {
    background: $bg-faq-gradient !important;
}

.line-maricon {
    padding-bottom: 2px;
    height: 2px;
    background: linear-gradient(90deg, rgba(108, 213, 246, 1) 0%, rgba(248, 157, 92, 1) 50%, rgba(91, 106, 240, 1) 100%);
}

/* Silbentrennung für ein bestimmtes Element deaktivieren */
.no-hyphenation {
    hyphens: none !important;

}

.stepicon-valign {
    margin-top: 0.28em;
}

/* Margin Top Klassen */
.mt-60 {
    margin-top: 60px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-0 {
    margin-top: 0px;
}

.mt--10 {
    margin-top: -10px;
}

.mt--20 {
    margin-top: -20px;
}

.mt--30 {
    margin-top: -30px;
}

.mt--40 {
    margin-top: -40px;
}

.mt--50 {
    margin-top: -50px;
}

/* Margin Bottom Klassen */
.mb-60 {
    margin-bottom: 60px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-0 {
    margin-bottom: 0px;
}

.mb--10 {
    margin-bottom: -10px;
}

.mb--20 {
    margin-bottom: -20px;
}

.mb--30 {
    margin-bottom: -30px;
}

.mb--40 {
    margin-bottom: -40px;
}

.mb--50 {
    margin-bottom: -50px;
}

/* Pastellfarbene Hintergrundfarben */
.pastel-blue {
    background-color: #AEC6CF; /* Pastellblau */
}

.pastel-green {
    background-color: #77DD77; /* Pastellgrün */
}

.pastel-pink {
    background-color: #FFB7C5; /* Pastellrosa */
}

.pastel-purple {
    background-color: #CBAACB; /* Pastellviolett */
}

.pastel-yellow {
    background-color: #FDFD96; /* Pastellgelb */
}

.pastel-orange {
    background-color: #FFB347; /* Pastellorange */
}

.pastel-red {
    background-color: #FF6961; /* Pastellrot */
}

.pastel-teal {
    background-color: #AFCBFF; /* Pastelltürkis */
}

.pastel-mint {
    background-color: #98FF98; /* Pastellmint */
}

.pastel-peach {
    background-color: #FFDAB9; /* Pastellpfirsich */
}

/* Pastellfarbene Textfarben */
.text-pastel-blue {
    color: #AEC6CF; /* Pastellblau */
}

.text-pastel-green {
    color: #77DD77; /* Pastellgrün */
}

.text-pastel-pink {
    color: #FFB7C5; /* Pastellrosa */
}

.text-pastel-purple {
    color: #CBAACB; /* Pastellviolett */
}

.text-pastel-yellow {
    color: #FDFD96; /* Pastellgelb */
}

.text-pastel-orange {
    color: #FFB347; /* Pastellorange */
}

.text-pastel-red {
    color: #FF6961; /* Pastellrot */
}

.text-pastel-teal {
    color: #AFCBFF; /* Pastelltürkis */
}

.text-pastel-mint {
    color: #98FF98; /* Pastellmint */
}

.text-pastel-peach {
    color: #FFDAB9; /* Pastellpfirsich */
}

/* Metallfarbene Hintergrundfarben */
.gold {
    background-color: #FFD700; /* Gold */
}

.silver {
    background-color: #C0C0C0; /* Silber */
}

.platinum {
    background-color: #E5E4E2; /* Platin */
}

.copper {
    background-color: #B87333; /* Kupfer */
}

/* Metallfarbene Textfarben */
.text-gold {
    color: #FFD700; /* Gold */
}

.text-silver {
    color: #C0C0C0; /* Silber */
}

.text-platinum {
    color: #E5E4E2; /* Platin */
}

.text-copper {
    color: #B87333; /* Kupfer */
}
.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.card-body {
    flex: 1;
}

mark-pink,
.mark-pink {
    margin: 0 -0.4em;
    padding: 0.1em 0.4em;
    border-radius: 0.8em 0.3em;
    background: transparent;
    background-image: linear-gradient(
            to right,
            rgba(200, 1, 248, 0.1),  /* Neon-Magenta mit 10% Transparenz */
            rgba(234, 5, 248, 0.7) 1%, /* Neon-Magenta mit 70% Transparenz */
            rgba(234, 5, 248, 0.3)
    ) !important;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

}
mark-green,
.mark-green {
    margin: 0 -0.4em;
    padding: 0.1em 0.4em;
    border-radius: 0.8em 0.3em;
    background: transparent;
    background-image: linear-gradient(
            to right,
            rgba(57, 255, 20, 0.1),  /* Neon-Grün mit 10% Transparenz */
            rgba(57, 255, 20, 0.7) 4%, /* Neon-Grün mit 70% Transparenz */
            rgba(57, 255, 20, 0.3)
    ) !important;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

}

mark-yellow,
.mark-yellow {
    margin: 0 -0.4em;
    padding: 0.1em 0.4em;
    border-radius: 0.8em 0.3em;
    background: transparent;
    background-image: linear-gradient(
            to right,
            rgba(234, 248, 5, 0.1),  /* Neon-Gelb mit 10% Transparenz */
            rgba(234, 248, 5, 0.7) 4%, /* Neon-Gelb mit 70% Transparenz */
            rgba(234, 248, 5, 0.3)
    ) !important;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

}
mark-blue,
.mark-blue {
    margin: 0 -0.4em;
    padding: 0.1em 0.4em;
    border-radius: 0.8em 0.3em;
    background: transparent;
    background-image: linear-gradient(
            to right,
            rgba(6, 253, 241, 0.1),  /* Neon-Cyan mit 10% Transparenz */
            rgba(6, 253, 241, 0.7) 4%, /* Neon-Cyan mit 70% Transparenz */
            rgba(6, 253, 241, 0.3)
    ) !important;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

}

.hidden{
    display:none;
    visibility:hidden;
}

.scroll-top {
    scroll-margin-top: 80px; /* Menü-Höhe */
}
